*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div1{
    width: 67%;
    height: 100vh;
    background-color: purple;
}
.container{
    display: flex;
}

.img-container img{
    width: 435px;
    height: 435px;
  
}
.img-container{
    display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
   
}

.div2{
    background-color: white;
    width: 33%;
    
}
.login-div{
    border-radius: 7px;
    box-shadow: 2px;
    background-color: white;
    height: 85%;
    width: 70%;
    margin: 15px auto;
    box-shadow: 0 4px 10px rgb(199, 187, 187);
}
.login-div p{
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: solid;
    text-align: center;
    font-size: 20px;
    height: 30px;
}
.login-div img{
    width: 65%
 
}
#login-text{
    margin-bottom: 3px;
}
#error{
    border: 1px solid grey;
}
.reset-div{
    margin-top: 30px;
}
.reset-div p{
    font-size: 10px;
    color: rgb(171, 33, 33);
    
}
button{ 
    background-color: purple;
    border-radius: 5px;
    width: 80%;
    padding: 7px 7px 7px 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid purple;
    margin-top: 60px;
}
button a{
    text-decoration: none;
    color: white;
}
label{
    display: inline;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.rem{
    display: flex;
}

input{
    margin-left: 10px;
    border-radius: 6px;
    padding: 7px 7px 7px 7px;
    border: 1px solid grey;
    display: block;
}

input:hover{
    border: 1px solid purple;
}
.klh-div img{
    width: 40px;
    height: 30px;
    margin-left: 10px;
   
}
.klh-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logos{
    display: flex;
    gap: 10px;
}
 i:hover{
    transform: rotate(360deg);
}
 i{
    transition: transform 0.3s ease 0;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.klh-div i {
    animation: spin 2s linear infinite;
}
button:hover{
    opacity: 70%;
}
#incorrect{
    font-size: 13px;
    display: none   ;
}
